body{
    font-family: "Verdana", sans-serif; color:#2FAACE;
    word-wrap: break-word;
}

.titolo{
   font-weight: bold; color:#2FAACE;
   font-size: 3vw;
   text-align: center;
}


button, .bottone{
    background-color: #2FAACE;
    font-weight: normal; color:white;
}



